<footer>
    <hr class="new1">
    <div class="container">

        <div class="column c1">
            <h1><a href="/tabellen">Tabellen</a></h1>
        </div>
        <div class="column c2">
            <h1><a href="/help">Hjelp</a> </h1>
            <p>
                Materialet er vernet etter suettyloven. Uten uttrykkelig samtykke er bare tillatt naar det er hjemlet i lov eller avtale med Kasper Parkstad Jansson og Fredrik Garseg Mork (Eier og agent for merkevare “Tabellen”, versjon 1, 2, 3, Juletabellen og VM-Tabellen).
            </p>
        </div>
        <!--<span class="spacer"></span>-->
        <div class="column c3">
            <li>Spørsmål? <a href="mailto:fredrik.1997@hotmail.com">@Fredrik Garseg Mork</a></li>
            <li>
                <a class="icon" href="https://www.instagram.com/tabellenboyz/">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <button class="share-button">
                    <i class="material-icons">
                        share
                        <!--https://fifa-tabellen.web.app/tabellen-->
                    </i>
                </button>
            </li>
        </div>
        <!--vertical_align_top-->
    </div>
</footer>