<footer class="footer is-primary">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1>Tabellen</h1>
                <p>
                    Materialet er vernet etter suettyloven. Uten uttrykkelig samtykke er bare tillatt naar det er hjemlet i lov eller avtale med Kasper Parkstad Jansson og Fredrik Garseg Mork (Eier og agent for merkevare “Tabellen”, versjon 1, 2, 3, Juletabellen og VM-Tabellen).
                </p>
            </div>
            <span class="spacer"></span>
            <div class="comlumn has-text-right">
                <a class="icon" href="https://www.instagram.com/tabellenboyz/"><i class="fab fa-instagram"></i></a>
            </div>
            <!--vertical_align_top-->
        </div>
    </div>
</footer>