<footer class="footer is-primary">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1>Tabellen</h1>
                
                <p>
                    Yoyo
                </p>
            </div>
            <span class="spacer"></span>
            <div class="comlumn has-text-right">
                <a class="icon" href="https://www.instagram.com/tabellenboyz/"><i class="fab fa-instagram"></i></a>
            </div>
            <!--vertical_align_top-->
        </div>
    </div>
</footer>