table {
    width: 70%;
    background-color: rgb(66, 66, 66);
    color: white;
    font-family: 'fifa';
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}
thead {
    color: rgb(61,206.223);
}
th.mat-sort-header-sorted {
    color: black;
}
