<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='row'>
                <div class='col-md6'>
                    <br>
                    <h3>Tabellen 4</h3>
                    <p>Original utgave</p>
                </div>
            </div>
            <div class='table-responsive'>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--Basics Column-->
                    <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Category </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}}</td>
                    </ng-container>

                    <!--Basics Column-->
                    <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                    </ng-container>

                    <!--Basics Column-->
                    <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef> Quantity </th>
                            <td mat-cell *matCellDef="let element"> {{element.quantity === false ? '' : element.quantity}}</td>
                    </ng-container>

                    <!--Basics Column-->
                    <ng-container matColumnDef="allDrink">
                            <th mat-header-cell *matHeaderCellDef> All drink </th>
                            <td mat-cell *matCellDef="let element"> {{element.allDrink}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                        
            </div>
        </div>
    </div>
</div>