table {
    width: 30%;
    background-color: rgb(66, 66, 66);
    color: white;
    font-family: 'fifa';
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}
thead {color: rgb(61,206.223);}

th.mat-sort-header-sorted {color: black;}

tr:hover {background-color: rgb(55, 55, 55);}

td:hover {color: rgb(61, 206, 223);}

th {color: rgb(243,71,91);}

td {
    color: white;
    text-align: left;
    font-size: 0.4em;
}

p {
    color: white;
    font-size: 16px;
}

tabellen-table {color: white;}

table p {color: white;}


