table {
    width: 330px;
    background-color: rgb(66, 66, 66);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4px;
    display: inline-block;
    margin-top: 0%;
}

table p {
    color: white;
}

thead {
    color: rgb(61, 206.223);
}

th.mat-sort-header-sorted {
    color: black;
}

table .categoryHeader {
    color: rgb(236, 245, 118);
}

tr {
    height: 500px;
}

tr:hover {
    background-color: rgb(55, 55, 55);
}

table td:hover {
    color: rgb(61, 206, 223);
}

table th {
    color: rgb(243, 71, 91);
    text-align: center;
    font-family: 'fifa';
    font-size: 1rem;
}

table td {
    color: white;
    text-align: center;
    font-size: 0.4em;
    padding: 1em;
    width: 110px;
}

.allDrinkStyle {
    width: 10px;
}

p {
    color: white;
    font-size: 16px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}