.container {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 125px;
    width: 100%;
    column-count: 3;
}

.column {
    display: inline-table;
    align-content: center;
    width: 30vw;
    font-size: 0.7rem;
    height: 100%;
}

.header-row {
    font-size: 2rem;
    font-family: 'fifa';
}